.form__button_type_auth {
  background-color: #fff;
  color: #000;
  font-style: normal;
  font-weight: 400;
  margin-top: 187px;
}

.form__button_type_auth:hover {
  opacity: 0.85;
}

@media screen and (max-width: 510px) {
  .form__button {
    margin-top: 144px;
    font-size: 16px;
    line-height: 19px;
  }
}